//
//  C O M M O N S
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

* {
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  @extend .text;
  color: clr(black);
  overflow-x: hidden;
  margin-bottom: 0 !important;

  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;

  // @media #{$sm-only} {
  //   background: rgba(#00f, 0.25);
  // }

  // @media #{$md-only} {
  //   background: rgba(#0f0, 0.25);
  // }

  // @media #{$lg} {
  //   background: rgba(#f00, 0.25);
  // }
}

/*---
title:   HR
name:    hr
section: Others
---

```example:html
<hr>
```
*/
hr {
  border: none;
  border-bottom: 1px solid clr(gray-light);
  width: 100%;
  margin: 2rem auto;
}

img {
  display: block;
  max-width: 100%;
  transition: opacity $anim;

  &[data-src] {
    opacity: 0;
  }

  &.error {
    position: relative;
    overflow: hidden;

    &:before {
      content: attr(alt);

      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 1.8rem;

      background-color: clr(gray-light);
    }

    @media #{$md} {
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        content: attr(data-error);
        text-align: center;
        font-size: 1rem;
        color: clr(gray-dark);
        padding: 1rem;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// [id*="js-"]:not(.muted){
//   cursor: pointer;
// }

// input[type="checkbox"][id*="toggle-"]{
//   background: red;
// }

button {
  border: none;
}
