/*---
  title:   Breakpoints
  section: Variables
  ---

  We have 3 main breakpoints based on Foundation and usefull in mobile first development.

  `$sm` is used for style for mobile, tablet and desktop (equals to no media query)

  `$md` is used for style for tablet and desktop `(min-width: 641px)`

  `$lg` is used for style for desktop only `(min-width: 1025px)`
*/
/*---
  title:   Overview
  name:    overview
  order:   2
  ---
*/
/*---
  title:   Introduction
  name:    introduction
  order:   1

  section: Overview
  ---

  ### Welcome on this styleguide!

  This document is create dynamicaly using the project styles.

  It contains all you need to use and extend the front-end od this project.

  Feel free to use it as a support poage when building the front-end of this project.
*/
/*---
  title:   Installation
  order:   2

  section: Overview
  ---

  In order to install front end starter, just run `npm install` after cloning it.

  We recommand using [nvm](https://github.com/creationix/nvm) to handle version switching to the one this project is using.
*/
/*---
  title:   Usage
  order:   3

  section: Overview
  ---

  Usage
*/
/*---
  title:   Guidelines
  order:   4

  section: Overview
  ---

  Guidelines
*/
/*---
  title:   Reset
  order:   6

  section: Overview
  ---

  Reset
*/
@import url("https://rsms.me/inter/inter-ui.css");
@import url("https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css");
@import 'https://cdn.rawgit.com/yeun/open-color/master/open-color.css';
html{
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
h1{
  font-size: 2em;
  margin: 0.67em 0; }
hr{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }
main{
  display: block; }
pre{
  font-family: monospace, monospace;
  font-size: 1em; }
a{
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
abbr[title]{
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }
b,
strong{
  font-weight: bolder; }
code,
kbd,
samp{
  font-family: monospace, monospace;
  font-size: 1em; }
small{
  font-size: 80%; }
audio,
video{
  display: inline-block; }
img{
  border-style: none; }
svg:not(:root){
  overflow: hidden; }
button,
input,
optgroup,
select,
textarea{
  margin: 0; }
button{
  overflow: visible;
  text-transform: none; }
button,
[type="button"],
[type="reset"],
[type="submit"]{
  -webkit-appearance: button; }
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style: none;
  padding: 0; }
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline: 1px dotted ButtonText; }
fieldset{
  padding: 0.35em 0.75em 0.625em; }
input{
  overflow: visible; }
legend{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }
progress{
  display: inline-block;
  vertical-align: baseline; }
select{
  text-transform: none; }
textarea{
  overflow: auto; }
[type="checkbox"],
[type="radio"]{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height: auto; }
[type="search"]{
  -webkit-appearance: textfield;
  outline-offset: -2px; }
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
  -webkit-appearance: none; }
::-webkit-file-upload-button{
  -webkit-appearance: button;
  font: inherit; }
details{
  display: block; }
summary{
  display: list-item; }
canvas{
  display: inline-block; }
template{
  display: none; }
[hidden]{
  display: none; }
/*---
  title:   Design
  name:    design
  order:   3
  ---
*/
/*---
  title:   Colors
  name:    design_colors
  order:   1

  section: design
  ---

  In order to use any color in an `.scss` file, just use function `clr(name-of-color)`

*/
/*---
  title:   Brand
  name:    brand-colors
  order:    1

  section: design_colors
  ---
  ```example:color
  line 2
  @color: #ffcc00 @name: yellow
  @color: #000000 @name: black
  ```
*/
/*---
  title:   Gray
  name:    gray-colors
  order:   2

  section: design_colors
  ---

  ```example:color
  line 3
  @color: #dfdfdf @name: gray-dark
  @color: #f4f4f4 @name: gray
  @color: #ffffff @name: white
  ```
*/
/*---
  title:   Class
  name:    class-colors
  order:   4

  section: design_colors
  ---
  ```example:html
    <p class="text-yellow h-text-yellow-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bg-black h-bg-black-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bd-1-alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bdb-1-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
  ```
*/
@media only screen {
  .text-gray-darker, .sm-text-gray-darker {
    color: #999999 !important; }
  .h-text-gray-darker:hover, .sm-h-text-gray-darker:hover {
    color: #999999 !important; }
  .bg-gray-darker, .sm-bg-gray-darker {
    background-color: #999999 !important; }
  .h-bg-gray-darker:hover, .sm-h-bg-gray-darker:hover {
    background-color: #999999 !important; }
  .text-gray-dark, .sm-text-gray-dark {
    color: #dfdfdf !important; }
  .h-text-gray-dark:hover, .sm-h-text-gray-dark:hover {
    color: #dfdfdf !important; }
  .bg-gray-dark, .sm-bg-gray-dark {
    background-color: #dfdfdf !important; }
  .h-bg-gray-dark:hover, .sm-h-bg-gray-dark:hover {
    background-color: #dfdfdf !important; }
  .text-gray, .sm-text-gray {
    color: #f4f4f4 !important; }
  .h-text-gray:hover, .sm-h-text-gray:hover {
    color: #f4f4f4 !important; }
  .bg-gray, .sm-bg-gray {
    background-color: #f4f4f4 !important; }
  .h-bg-gray:hover, .sm-h-bg-gray:hover {
    background-color: #f4f4f4 !important; }
  .text-white, .sm-text-white {
    color: #ffffff !important; }
  .h-text-white:hover, .sm-h-text-white:hover {
    color: #ffffff !important; }
  .bg-white, .sm-bg-white {
    background-color: #ffffff !important; }
  .h-bg-white:hover, .sm-h-bg-white:hover {
    background-color: #ffffff !important; }
  .text-yellow, .sm-text-yellow {
    color: #ffcc00 !important; }
  .h-text-yellow:hover, .sm-h-text-yellow:hover {
    color: #ffcc00 !important; }
  .bg-yellow, .sm-bg-yellow {
    background-color: #ffcc00 !important; }
  .h-bg-yellow:hover, .sm-h-bg-yellow:hover {
    background-color: #ffcc00 !important; }
  .text-black, .sm-text-black {
    color: #000000 !important; }
  .h-text-black:hover, .sm-h-text-black:hover {
    color: #000000 !important; }
  .bg-black, .sm-bg-black {
    background-color: #000000 !important; }
  .h-bg-black:hover, .sm-h-bg-black:hover {
    background-color: #000000 !important; }
  .bd-0-gray-darker, .sm-bd-0-gray-darker {
    border: 0px solid #999999; }
  .bdt-0-gray-darker, .sm-bdt-0-gray-darker {
    border-top: 0px solid #999999; }
  .bdr-0-gray-darker, .sm-bdr-0-gray-darker {
    border-right: 0px solid #999999; }
  .bdb-0-gray-darker, .sm-bdb-0-gray-darker {
    border-bottom: 0px solid #999999; }
  .bdl-0-gray-darker, .sm-bdl-0-gray-darker {
    border-left: 0px solid #999999; }
  .bd-0-gray-dark, .sm-bd-0-gray-dark {
    border: 0px solid #dfdfdf; }
  .bdt-0-gray-dark, .sm-bdt-0-gray-dark {
    border-top: 0px solid #dfdfdf; }
  .bdr-0-gray-dark, .sm-bdr-0-gray-dark {
    border-right: 0px solid #dfdfdf; }
  .bdb-0-gray-dark, .sm-bdb-0-gray-dark {
    border-bottom: 0px solid #dfdfdf; }
  .bdl-0-gray-dark, .sm-bdl-0-gray-dark {
    border-left: 0px solid #dfdfdf; }
  .bd-0-gray, .sm-bd-0-gray {
    border: 0px solid #f4f4f4; }
  .bdt-0-gray, .sm-bdt-0-gray {
    border-top: 0px solid #f4f4f4; }
  .bdr-0-gray, .sm-bdr-0-gray {
    border-right: 0px solid #f4f4f4; }
  .bdb-0-gray, .sm-bdb-0-gray {
    border-bottom: 0px solid #f4f4f4; }
  .bdl-0-gray, .sm-bdl-0-gray {
    border-left: 0px solid #f4f4f4; }
  .bd-0-white, .sm-bd-0-white {
    border: 0px solid #ffffff; }
  .bdt-0-white, .sm-bdt-0-white {
    border-top: 0px solid #ffffff; }
  .bdr-0-white, .sm-bdr-0-white {
    border-right: 0px solid #ffffff; }
  .bdb-0-white, .sm-bdb-0-white {
    border-bottom: 0px solid #ffffff; }
  .bdl-0-white, .sm-bdl-0-white {
    border-left: 0px solid #ffffff; }
  .bd-0-yellow, .sm-bd-0-yellow {
    border: 0px solid #ffcc00; }
  .bdt-0-yellow, .sm-bdt-0-yellow {
    border-top: 0px solid #ffcc00; }
  .bdr-0-yellow, .sm-bdr-0-yellow {
    border-right: 0px solid #ffcc00; }
  .bdb-0-yellow, .sm-bdb-0-yellow {
    border-bottom: 0px solid #ffcc00; }
  .bdl-0-yellow, .sm-bdl-0-yellow {
    border-left: 0px solid #ffcc00; }
  .bd-0-black, .sm-bd-0-black {
    border: 0px solid #000000; }
  .bdt-0-black, .sm-bdt-0-black {
    border-top: 0px solid #000000; }
  .bdr-0-black, .sm-bdr-0-black {
    border-right: 0px solid #000000; }
  .bdb-0-black, .sm-bdb-0-black {
    border-bottom: 0px solid #000000; }
  .bdl-0-black, .sm-bdl-0-black {
    border-left: 0px solid #000000; }
  .bd-1-gray-darker, .sm-bd-1-gray-darker {
    border: 1px solid #999999; }
  .bdt-1-gray-darker, .sm-bdt-1-gray-darker {
    border-top: 1px solid #999999; }
  .bdr-1-gray-darker, .sm-bdr-1-gray-darker {
    border-right: 1px solid #999999; }
  .bdb-1-gray-darker, .sm-bdb-1-gray-darker {
    border-bottom: 1px solid #999999; }
  .bdl-1-gray-darker, .sm-bdl-1-gray-darker {
    border-left: 1px solid #999999; }
  .bd-1-gray-dark, .sm-bd-1-gray-dark {
    border: 1px solid #dfdfdf; }
  .bdt-1-gray-dark, .sm-bdt-1-gray-dark {
    border-top: 1px solid #dfdfdf; }
  .bdr-1-gray-dark, .sm-bdr-1-gray-dark {
    border-right: 1px solid #dfdfdf; }
  .bdb-1-gray-dark, .sm-bdb-1-gray-dark {
    border-bottom: 1px solid #dfdfdf; }
  .bdl-1-gray-dark, .sm-bdl-1-gray-dark {
    border-left: 1px solid #dfdfdf; }
  .bd-1-gray, .sm-bd-1-gray {
    border: 1px solid #f4f4f4; }
  .bdt-1-gray, .sm-bdt-1-gray {
    border-top: 1px solid #f4f4f4; }
  .bdr-1-gray, .sm-bdr-1-gray {
    border-right: 1px solid #f4f4f4; }
  .bdb-1-gray, .sm-bdb-1-gray {
    border-bottom: 1px solid #f4f4f4; }
  .bdl-1-gray, .sm-bdl-1-gray {
    border-left: 1px solid #f4f4f4; }
  .bd-1-white, .sm-bd-1-white {
    border: 1px solid #ffffff; }
  .bdt-1-white, .sm-bdt-1-white {
    border-top: 1px solid #ffffff; }
  .bdr-1-white, .sm-bdr-1-white {
    border-right: 1px solid #ffffff; }
  .bdb-1-white, .sm-bdb-1-white {
    border-bottom: 1px solid #ffffff; }
  .bdl-1-white, .sm-bdl-1-white {
    border-left: 1px solid #ffffff; }
  .bd-1-yellow, .sm-bd-1-yellow {
    border: 1px solid #ffcc00; }
  .bdt-1-yellow, .sm-bdt-1-yellow {
    border-top: 1px solid #ffcc00; }
  .bdr-1-yellow, .sm-bdr-1-yellow {
    border-right: 1px solid #ffcc00; }
  .bdb-1-yellow, .sm-bdb-1-yellow {
    border-bottom: 1px solid #ffcc00; }
  .bdl-1-yellow, .sm-bdl-1-yellow {
    border-left: 1px solid #ffcc00; }
  .bd-1-black, .sm-bd-1-black {
    border: 1px solid #000000; }
  .bdt-1-black, .sm-bdt-1-black {
    border-top: 1px solid #000000; }
  .bdr-1-black, .sm-bdr-1-black {
    border-right: 1px solid #000000; }
  .bdb-1-black, .sm-bdb-1-black {
    border-bottom: 1px solid #000000; }
  .bdl-1-black, .sm-bdl-1-black {
    border-left: 1px solid #000000; }
  .bd-2-gray-darker, .sm-bd-2-gray-darker {
    border: 2px solid #999999; }
  .bdt-2-gray-darker, .sm-bdt-2-gray-darker {
    border-top: 2px solid #999999; }
  .bdr-2-gray-darker, .sm-bdr-2-gray-darker {
    border-right: 2px solid #999999; }
  .bdb-2-gray-darker, .sm-bdb-2-gray-darker {
    border-bottom: 2px solid #999999; }
  .bdl-2-gray-darker, .sm-bdl-2-gray-darker {
    border-left: 2px solid #999999; }
  .bd-2-gray-dark, .sm-bd-2-gray-dark {
    border: 2px solid #dfdfdf; }
  .bdt-2-gray-dark, .sm-bdt-2-gray-dark {
    border-top: 2px solid #dfdfdf; }
  .bdr-2-gray-dark, .sm-bdr-2-gray-dark {
    border-right: 2px solid #dfdfdf; }
  .bdb-2-gray-dark, .sm-bdb-2-gray-dark {
    border-bottom: 2px solid #dfdfdf; }
  .bdl-2-gray-dark, .sm-bdl-2-gray-dark {
    border-left: 2px solid #dfdfdf; }
  .bd-2-gray, .sm-bd-2-gray {
    border: 2px solid #f4f4f4; }
  .bdt-2-gray, .sm-bdt-2-gray {
    border-top: 2px solid #f4f4f4; }
  .bdr-2-gray, .sm-bdr-2-gray {
    border-right: 2px solid #f4f4f4; }
  .bdb-2-gray, .sm-bdb-2-gray {
    border-bottom: 2px solid #f4f4f4; }
  .bdl-2-gray, .sm-bdl-2-gray {
    border-left: 2px solid #f4f4f4; }
  .bd-2-white, .sm-bd-2-white {
    border: 2px solid #ffffff; }
  .bdt-2-white, .sm-bdt-2-white {
    border-top: 2px solid #ffffff; }
  .bdr-2-white, .sm-bdr-2-white {
    border-right: 2px solid #ffffff; }
  .bdb-2-white, .sm-bdb-2-white {
    border-bottom: 2px solid #ffffff; }
  .bdl-2-white, .sm-bdl-2-white {
    border-left: 2px solid #ffffff; }
  .bd-2-yellow, .sm-bd-2-yellow {
    border: 2px solid #ffcc00; }
  .bdt-2-yellow, .sm-bdt-2-yellow {
    border-top: 2px solid #ffcc00; }
  .bdr-2-yellow, .sm-bdr-2-yellow {
    border-right: 2px solid #ffcc00; }
  .bdb-2-yellow, .sm-bdb-2-yellow {
    border-bottom: 2px solid #ffcc00; }
  .bdl-2-yellow, .sm-bdl-2-yellow {
    border-left: 2px solid #ffcc00; }
  .bd-2-black, .sm-bd-2-black {
    border: 2px solid #000000; }
  .bdt-2-black, .sm-bdt-2-black {
    border-top: 2px solid #000000; }
  .bdr-2-black, .sm-bdr-2-black {
    border-right: 2px solid #000000; }
  .bdb-2-black, .sm-bdb-2-black {
    border-bottom: 2px solid #000000; }
  .bdl-2-black, .sm-bdl-2-black {
    border-left: 2px solid #000000; }
  .bd-3-gray-darker, .sm-bd-3-gray-darker {
    border: 3px solid #999999; }
  .bdt-3-gray-darker, .sm-bdt-3-gray-darker {
    border-top: 3px solid #999999; }
  .bdr-3-gray-darker, .sm-bdr-3-gray-darker {
    border-right: 3px solid #999999; }
  .bdb-3-gray-darker, .sm-bdb-3-gray-darker {
    border-bottom: 3px solid #999999; }
  .bdl-3-gray-darker, .sm-bdl-3-gray-darker {
    border-left: 3px solid #999999; }
  .bd-3-gray-dark, .sm-bd-3-gray-dark {
    border: 3px solid #dfdfdf; }
  .bdt-3-gray-dark, .sm-bdt-3-gray-dark {
    border-top: 3px solid #dfdfdf; }
  .bdr-3-gray-dark, .sm-bdr-3-gray-dark {
    border-right: 3px solid #dfdfdf; }
  .bdb-3-gray-dark, .sm-bdb-3-gray-dark {
    border-bottom: 3px solid #dfdfdf; }
  .bdl-3-gray-dark, .sm-bdl-3-gray-dark {
    border-left: 3px solid #dfdfdf; }
  .bd-3-gray, .sm-bd-3-gray {
    border: 3px solid #f4f4f4; }
  .bdt-3-gray, .sm-bdt-3-gray {
    border-top: 3px solid #f4f4f4; }
  .bdr-3-gray, .sm-bdr-3-gray {
    border-right: 3px solid #f4f4f4; }
  .bdb-3-gray, .sm-bdb-3-gray {
    border-bottom: 3px solid #f4f4f4; }
  .bdl-3-gray, .sm-bdl-3-gray {
    border-left: 3px solid #f4f4f4; }
  .bd-3-white, .sm-bd-3-white {
    border: 3px solid #ffffff; }
  .bdt-3-white, .sm-bdt-3-white {
    border-top: 3px solid #ffffff; }
  .bdr-3-white, .sm-bdr-3-white {
    border-right: 3px solid #ffffff; }
  .bdb-3-white, .sm-bdb-3-white {
    border-bottom: 3px solid #ffffff; }
  .bdl-3-white, .sm-bdl-3-white {
    border-left: 3px solid #ffffff; }
  .bd-3-yellow, .sm-bd-3-yellow {
    border: 3px solid #ffcc00; }
  .bdt-3-yellow, .sm-bdt-3-yellow {
    border-top: 3px solid #ffcc00; }
  .bdr-3-yellow, .sm-bdr-3-yellow {
    border-right: 3px solid #ffcc00; }
  .bdb-3-yellow, .sm-bdb-3-yellow {
    border-bottom: 3px solid #ffcc00; }
  .bdl-3-yellow, .sm-bdl-3-yellow {
    border-left: 3px solid #ffcc00; }
  .bd-3-black, .sm-bd-3-black {
    border: 3px solid #000000; }
  .bdt-3-black, .sm-bdt-3-black {
    border-top: 3px solid #000000; }
  .bdr-3-black, .sm-bdr-3-black {
    border-right: 3px solid #000000; }
  .bdb-3-black, .sm-bdb-3-black {
    border-bottom: 3px solid #000000; }
  .bdl-3-black, .sm-bdl-3-black {
    border-left: 3px solid #000000; } }

@media only screen and (min-width: 641px) {
  .md-text-gray-darker {
    color: #999999 !important; }
  .md-h-text-gray-darker:hover {
    color: #999999 !important; }
  .md-bg-gray-darker {
    background-color: #999999 !important; }
  .md-h-bg-gray-darker:hover {
    background-color: #999999 !important; }
  .md-text-gray-dark {
    color: #dfdfdf !important; }
  .md-h-text-gray-dark:hover {
    color: #dfdfdf !important; }
  .md-bg-gray-dark {
    background-color: #dfdfdf !important; }
  .md-h-bg-gray-dark:hover {
    background-color: #dfdfdf !important; }
  .md-text-gray {
    color: #f4f4f4 !important; }
  .md-h-text-gray:hover {
    color: #f4f4f4 !important; }
  .md-bg-gray {
    background-color: #f4f4f4 !important; }
  .md-h-bg-gray:hover {
    background-color: #f4f4f4 !important; }
  .md-text-white {
    color: #ffffff !important; }
  .md-h-text-white:hover {
    color: #ffffff !important; }
  .md-bg-white {
    background-color: #ffffff !important; }
  .md-h-bg-white:hover {
    background-color: #ffffff !important; }
  .md-text-yellow {
    color: #ffcc00 !important; }
  .md-h-text-yellow:hover {
    color: #ffcc00 !important; }
  .md-bg-yellow {
    background-color: #ffcc00 !important; }
  .md-h-bg-yellow:hover {
    background-color: #ffcc00 !important; }
  .md-text-black {
    color: #000000 !important; }
  .md-h-text-black:hover {
    color: #000000 !important; }
  .md-bg-black {
    background-color: #000000 !important; }
  .md-h-bg-black:hover {
    background-color: #000000 !important; }
  .md-bd-0-gray-darker {
    border: 0px solid #999999; }
  .md-bdt-0-gray-darker {
    border-top: 0px solid #999999; }
  .md-bdr-0-gray-darker {
    border-right: 0px solid #999999; }
  .md-bdb-0-gray-darker {
    border-bottom: 0px solid #999999; }
  .md-bdl-0-gray-darker {
    border-left: 0px solid #999999; }
  .md-bd-0-gray-dark {
    border: 0px solid #dfdfdf; }
  .md-bdt-0-gray-dark {
    border-top: 0px solid #dfdfdf; }
  .md-bdr-0-gray-dark {
    border-right: 0px solid #dfdfdf; }
  .md-bdb-0-gray-dark {
    border-bottom: 0px solid #dfdfdf; }
  .md-bdl-0-gray-dark {
    border-left: 0px solid #dfdfdf; }
  .md-bd-0-gray {
    border: 0px solid #f4f4f4; }
  .md-bdt-0-gray {
    border-top: 0px solid #f4f4f4; }
  .md-bdr-0-gray {
    border-right: 0px solid #f4f4f4; }
  .md-bdb-0-gray {
    border-bottom: 0px solid #f4f4f4; }
  .md-bdl-0-gray {
    border-left: 0px solid #f4f4f4; }
  .md-bd-0-white {
    border: 0px solid #ffffff; }
  .md-bdt-0-white {
    border-top: 0px solid #ffffff; }
  .md-bdr-0-white {
    border-right: 0px solid #ffffff; }
  .md-bdb-0-white {
    border-bottom: 0px solid #ffffff; }
  .md-bdl-0-white {
    border-left: 0px solid #ffffff; }
  .md-bd-0-yellow {
    border: 0px solid #ffcc00; }
  .md-bdt-0-yellow {
    border-top: 0px solid #ffcc00; }
  .md-bdr-0-yellow {
    border-right: 0px solid #ffcc00; }
  .md-bdb-0-yellow {
    border-bottom: 0px solid #ffcc00; }
  .md-bdl-0-yellow {
    border-left: 0px solid #ffcc00; }
  .md-bd-0-black {
    border: 0px solid #000000; }
  .md-bdt-0-black {
    border-top: 0px solid #000000; }
  .md-bdr-0-black {
    border-right: 0px solid #000000; }
  .md-bdb-0-black {
    border-bottom: 0px solid #000000; }
  .md-bdl-0-black {
    border-left: 0px solid #000000; }
  .md-bd-1-gray-darker {
    border: 1px solid #999999; }
  .md-bdt-1-gray-darker {
    border-top: 1px solid #999999; }
  .md-bdr-1-gray-darker {
    border-right: 1px solid #999999; }
  .md-bdb-1-gray-darker {
    border-bottom: 1px solid #999999; }
  .md-bdl-1-gray-darker {
    border-left: 1px solid #999999; }
  .md-bd-1-gray-dark {
    border: 1px solid #dfdfdf; }
  .md-bdt-1-gray-dark {
    border-top: 1px solid #dfdfdf; }
  .md-bdr-1-gray-dark {
    border-right: 1px solid #dfdfdf; }
  .md-bdb-1-gray-dark {
    border-bottom: 1px solid #dfdfdf; }
  .md-bdl-1-gray-dark {
    border-left: 1px solid #dfdfdf; }
  .md-bd-1-gray {
    border: 1px solid #f4f4f4; }
  .md-bdt-1-gray {
    border-top: 1px solid #f4f4f4; }
  .md-bdr-1-gray {
    border-right: 1px solid #f4f4f4; }
  .md-bdb-1-gray {
    border-bottom: 1px solid #f4f4f4; }
  .md-bdl-1-gray {
    border-left: 1px solid #f4f4f4; }
  .md-bd-1-white {
    border: 1px solid #ffffff; }
  .md-bdt-1-white {
    border-top: 1px solid #ffffff; }
  .md-bdr-1-white {
    border-right: 1px solid #ffffff; }
  .md-bdb-1-white {
    border-bottom: 1px solid #ffffff; }
  .md-bdl-1-white {
    border-left: 1px solid #ffffff; }
  .md-bd-1-yellow {
    border: 1px solid #ffcc00; }
  .md-bdt-1-yellow {
    border-top: 1px solid #ffcc00; }
  .md-bdr-1-yellow {
    border-right: 1px solid #ffcc00; }
  .md-bdb-1-yellow {
    border-bottom: 1px solid #ffcc00; }
  .md-bdl-1-yellow {
    border-left: 1px solid #ffcc00; }
  .md-bd-1-black {
    border: 1px solid #000000; }
  .md-bdt-1-black {
    border-top: 1px solid #000000; }
  .md-bdr-1-black {
    border-right: 1px solid #000000; }
  .md-bdb-1-black {
    border-bottom: 1px solid #000000; }
  .md-bdl-1-black {
    border-left: 1px solid #000000; }
  .md-bd-2-gray-darker {
    border: 2px solid #999999; }
  .md-bdt-2-gray-darker {
    border-top: 2px solid #999999; }
  .md-bdr-2-gray-darker {
    border-right: 2px solid #999999; }
  .md-bdb-2-gray-darker {
    border-bottom: 2px solid #999999; }
  .md-bdl-2-gray-darker {
    border-left: 2px solid #999999; }
  .md-bd-2-gray-dark {
    border: 2px solid #dfdfdf; }
  .md-bdt-2-gray-dark {
    border-top: 2px solid #dfdfdf; }
  .md-bdr-2-gray-dark {
    border-right: 2px solid #dfdfdf; }
  .md-bdb-2-gray-dark {
    border-bottom: 2px solid #dfdfdf; }
  .md-bdl-2-gray-dark {
    border-left: 2px solid #dfdfdf; }
  .md-bd-2-gray {
    border: 2px solid #f4f4f4; }
  .md-bdt-2-gray {
    border-top: 2px solid #f4f4f4; }
  .md-bdr-2-gray {
    border-right: 2px solid #f4f4f4; }
  .md-bdb-2-gray {
    border-bottom: 2px solid #f4f4f4; }
  .md-bdl-2-gray {
    border-left: 2px solid #f4f4f4; }
  .md-bd-2-white {
    border: 2px solid #ffffff; }
  .md-bdt-2-white {
    border-top: 2px solid #ffffff; }
  .md-bdr-2-white {
    border-right: 2px solid #ffffff; }
  .md-bdb-2-white {
    border-bottom: 2px solid #ffffff; }
  .md-bdl-2-white {
    border-left: 2px solid #ffffff; }
  .md-bd-2-yellow {
    border: 2px solid #ffcc00; }
  .md-bdt-2-yellow {
    border-top: 2px solid #ffcc00; }
  .md-bdr-2-yellow {
    border-right: 2px solid #ffcc00; }
  .md-bdb-2-yellow {
    border-bottom: 2px solid #ffcc00; }
  .md-bdl-2-yellow {
    border-left: 2px solid #ffcc00; }
  .md-bd-2-black {
    border: 2px solid #000000; }
  .md-bdt-2-black {
    border-top: 2px solid #000000; }
  .md-bdr-2-black {
    border-right: 2px solid #000000; }
  .md-bdb-2-black {
    border-bottom: 2px solid #000000; }
  .md-bdl-2-black {
    border-left: 2px solid #000000; }
  .md-bd-3-gray-darker {
    border: 3px solid #999999; }
  .md-bdt-3-gray-darker {
    border-top: 3px solid #999999; }
  .md-bdr-3-gray-darker {
    border-right: 3px solid #999999; }
  .md-bdb-3-gray-darker {
    border-bottom: 3px solid #999999; }
  .md-bdl-3-gray-darker {
    border-left: 3px solid #999999; }
  .md-bd-3-gray-dark {
    border: 3px solid #dfdfdf; }
  .md-bdt-3-gray-dark {
    border-top: 3px solid #dfdfdf; }
  .md-bdr-3-gray-dark {
    border-right: 3px solid #dfdfdf; }
  .md-bdb-3-gray-dark {
    border-bottom: 3px solid #dfdfdf; }
  .md-bdl-3-gray-dark {
    border-left: 3px solid #dfdfdf; }
  .md-bd-3-gray {
    border: 3px solid #f4f4f4; }
  .md-bdt-3-gray {
    border-top: 3px solid #f4f4f4; }
  .md-bdr-3-gray {
    border-right: 3px solid #f4f4f4; }
  .md-bdb-3-gray {
    border-bottom: 3px solid #f4f4f4; }
  .md-bdl-3-gray {
    border-left: 3px solid #f4f4f4; }
  .md-bd-3-white {
    border: 3px solid #ffffff; }
  .md-bdt-3-white {
    border-top: 3px solid #ffffff; }
  .md-bdr-3-white {
    border-right: 3px solid #ffffff; }
  .md-bdb-3-white {
    border-bottom: 3px solid #ffffff; }
  .md-bdl-3-white {
    border-left: 3px solid #ffffff; }
  .md-bd-3-yellow {
    border: 3px solid #ffcc00; }
  .md-bdt-3-yellow {
    border-top: 3px solid #ffcc00; }
  .md-bdr-3-yellow {
    border-right: 3px solid #ffcc00; }
  .md-bdb-3-yellow {
    border-bottom: 3px solid #ffcc00; }
  .md-bdl-3-yellow {
    border-left: 3px solid #ffcc00; }
  .md-bd-3-black {
    border: 3px solid #000000; }
  .md-bdt-3-black {
    border-top: 3px solid #000000; }
  .md-bdr-3-black {
    border-right: 3px solid #000000; }
  .md-bdb-3-black {
    border-bottom: 3px solid #000000; }
  .md-bdl-3-black {
    border-left: 3px solid #000000; } }

@media only screen and (min-width: 1025px) {
  .lg-text-gray-darker {
    color: #999999 !important; }
  .lg-h-text-gray-darker:hover {
    color: #999999 !important; }
  .lg-bg-gray-darker {
    background-color: #999999 !important; }
  .lg-h-bg-gray-darker:hover {
    background-color: #999999 !important; }
  .lg-text-gray-dark {
    color: #dfdfdf !important; }
  .lg-h-text-gray-dark:hover {
    color: #dfdfdf !important; }
  .lg-bg-gray-dark {
    background-color: #dfdfdf !important; }
  .lg-h-bg-gray-dark:hover {
    background-color: #dfdfdf !important; }
  .lg-text-gray {
    color: #f4f4f4 !important; }
  .lg-h-text-gray:hover {
    color: #f4f4f4 !important; }
  .lg-bg-gray {
    background-color: #f4f4f4 !important; }
  .lg-h-bg-gray:hover {
    background-color: #f4f4f4 !important; }
  .lg-text-white {
    color: #ffffff !important; }
  .lg-h-text-white:hover {
    color: #ffffff !important; }
  .lg-bg-white {
    background-color: #ffffff !important; }
  .lg-h-bg-white:hover {
    background-color: #ffffff !important; }
  .lg-text-yellow {
    color: #ffcc00 !important; }
  .lg-h-text-yellow:hover {
    color: #ffcc00 !important; }
  .lg-bg-yellow {
    background-color: #ffcc00 !important; }
  .lg-h-bg-yellow:hover {
    background-color: #ffcc00 !important; }
  .lg-text-black {
    color: #000000 !important; }
  .lg-h-text-black:hover {
    color: #000000 !important; }
  .lg-bg-black {
    background-color: #000000 !important; }
  .lg-h-bg-black:hover {
    background-color: #000000 !important; }
  .lg-bd-0-gray-darker {
    border: 0px solid #999999; }
  .lg-bdt-0-gray-darker {
    border-top: 0px solid #999999; }
  .lg-bdr-0-gray-darker {
    border-right: 0px solid #999999; }
  .lg-bdb-0-gray-darker {
    border-bottom: 0px solid #999999; }
  .lg-bdl-0-gray-darker {
    border-left: 0px solid #999999; }
  .lg-bd-0-gray-dark {
    border: 0px solid #dfdfdf; }
  .lg-bdt-0-gray-dark {
    border-top: 0px solid #dfdfdf; }
  .lg-bdr-0-gray-dark {
    border-right: 0px solid #dfdfdf; }
  .lg-bdb-0-gray-dark {
    border-bottom: 0px solid #dfdfdf; }
  .lg-bdl-0-gray-dark {
    border-left: 0px solid #dfdfdf; }
  .lg-bd-0-gray {
    border: 0px solid #f4f4f4; }
  .lg-bdt-0-gray {
    border-top: 0px solid #f4f4f4; }
  .lg-bdr-0-gray {
    border-right: 0px solid #f4f4f4; }
  .lg-bdb-0-gray {
    border-bottom: 0px solid #f4f4f4; }
  .lg-bdl-0-gray {
    border-left: 0px solid #f4f4f4; }
  .lg-bd-0-white {
    border: 0px solid #ffffff; }
  .lg-bdt-0-white {
    border-top: 0px solid #ffffff; }
  .lg-bdr-0-white {
    border-right: 0px solid #ffffff; }
  .lg-bdb-0-white {
    border-bottom: 0px solid #ffffff; }
  .lg-bdl-0-white {
    border-left: 0px solid #ffffff; }
  .lg-bd-0-yellow {
    border: 0px solid #ffcc00; }
  .lg-bdt-0-yellow {
    border-top: 0px solid #ffcc00; }
  .lg-bdr-0-yellow {
    border-right: 0px solid #ffcc00; }
  .lg-bdb-0-yellow {
    border-bottom: 0px solid #ffcc00; }
  .lg-bdl-0-yellow {
    border-left: 0px solid #ffcc00; }
  .lg-bd-0-black {
    border: 0px solid #000000; }
  .lg-bdt-0-black {
    border-top: 0px solid #000000; }
  .lg-bdr-0-black {
    border-right: 0px solid #000000; }
  .lg-bdb-0-black {
    border-bottom: 0px solid #000000; }
  .lg-bdl-0-black {
    border-left: 0px solid #000000; }
  .lg-bd-1-gray-darker {
    border: 1px solid #999999; }
  .lg-bdt-1-gray-darker {
    border-top: 1px solid #999999; }
  .lg-bdr-1-gray-darker {
    border-right: 1px solid #999999; }
  .lg-bdb-1-gray-darker {
    border-bottom: 1px solid #999999; }
  .lg-bdl-1-gray-darker {
    border-left: 1px solid #999999; }
  .lg-bd-1-gray-dark {
    border: 1px solid #dfdfdf; }
  .lg-bdt-1-gray-dark {
    border-top: 1px solid #dfdfdf; }
  .lg-bdr-1-gray-dark {
    border-right: 1px solid #dfdfdf; }
  .lg-bdb-1-gray-dark {
    border-bottom: 1px solid #dfdfdf; }
  .lg-bdl-1-gray-dark {
    border-left: 1px solid #dfdfdf; }
  .lg-bd-1-gray {
    border: 1px solid #f4f4f4; }
  .lg-bdt-1-gray {
    border-top: 1px solid #f4f4f4; }
  .lg-bdr-1-gray {
    border-right: 1px solid #f4f4f4; }
  .lg-bdb-1-gray {
    border-bottom: 1px solid #f4f4f4; }
  .lg-bdl-1-gray {
    border-left: 1px solid #f4f4f4; }
  .lg-bd-1-white {
    border: 1px solid #ffffff; }
  .lg-bdt-1-white {
    border-top: 1px solid #ffffff; }
  .lg-bdr-1-white {
    border-right: 1px solid #ffffff; }
  .lg-bdb-1-white {
    border-bottom: 1px solid #ffffff; }
  .lg-bdl-1-white {
    border-left: 1px solid #ffffff; }
  .lg-bd-1-yellow {
    border: 1px solid #ffcc00; }
  .lg-bdt-1-yellow {
    border-top: 1px solid #ffcc00; }
  .lg-bdr-1-yellow {
    border-right: 1px solid #ffcc00; }
  .lg-bdb-1-yellow {
    border-bottom: 1px solid #ffcc00; }
  .lg-bdl-1-yellow {
    border-left: 1px solid #ffcc00; }
  .lg-bd-1-black {
    border: 1px solid #000000; }
  .lg-bdt-1-black {
    border-top: 1px solid #000000; }
  .lg-bdr-1-black {
    border-right: 1px solid #000000; }
  .lg-bdb-1-black {
    border-bottom: 1px solid #000000; }
  .lg-bdl-1-black {
    border-left: 1px solid #000000; }
  .lg-bd-2-gray-darker {
    border: 2px solid #999999; }
  .lg-bdt-2-gray-darker {
    border-top: 2px solid #999999; }
  .lg-bdr-2-gray-darker {
    border-right: 2px solid #999999; }
  .lg-bdb-2-gray-darker {
    border-bottom: 2px solid #999999; }
  .lg-bdl-2-gray-darker {
    border-left: 2px solid #999999; }
  .lg-bd-2-gray-dark {
    border: 2px solid #dfdfdf; }
  .lg-bdt-2-gray-dark {
    border-top: 2px solid #dfdfdf; }
  .lg-bdr-2-gray-dark {
    border-right: 2px solid #dfdfdf; }
  .lg-bdb-2-gray-dark {
    border-bottom: 2px solid #dfdfdf; }
  .lg-bdl-2-gray-dark {
    border-left: 2px solid #dfdfdf; }
  .lg-bd-2-gray {
    border: 2px solid #f4f4f4; }
  .lg-bdt-2-gray {
    border-top: 2px solid #f4f4f4; }
  .lg-bdr-2-gray {
    border-right: 2px solid #f4f4f4; }
  .lg-bdb-2-gray {
    border-bottom: 2px solid #f4f4f4; }
  .lg-bdl-2-gray {
    border-left: 2px solid #f4f4f4; }
  .lg-bd-2-white {
    border: 2px solid #ffffff; }
  .lg-bdt-2-white {
    border-top: 2px solid #ffffff; }
  .lg-bdr-2-white {
    border-right: 2px solid #ffffff; }
  .lg-bdb-2-white {
    border-bottom: 2px solid #ffffff; }
  .lg-bdl-2-white {
    border-left: 2px solid #ffffff; }
  .lg-bd-2-yellow {
    border: 2px solid #ffcc00; }
  .lg-bdt-2-yellow {
    border-top: 2px solid #ffcc00; }
  .lg-bdr-2-yellow {
    border-right: 2px solid #ffcc00; }
  .lg-bdb-2-yellow {
    border-bottom: 2px solid #ffcc00; }
  .lg-bdl-2-yellow {
    border-left: 2px solid #ffcc00; }
  .lg-bd-2-black {
    border: 2px solid #000000; }
  .lg-bdt-2-black {
    border-top: 2px solid #000000; }
  .lg-bdr-2-black {
    border-right: 2px solid #000000; }
  .lg-bdb-2-black {
    border-bottom: 2px solid #000000; }
  .lg-bdl-2-black {
    border-left: 2px solid #000000; }
  .lg-bd-3-gray-darker {
    border: 3px solid #999999; }
  .lg-bdt-3-gray-darker {
    border-top: 3px solid #999999; }
  .lg-bdr-3-gray-darker {
    border-right: 3px solid #999999; }
  .lg-bdb-3-gray-darker {
    border-bottom: 3px solid #999999; }
  .lg-bdl-3-gray-darker {
    border-left: 3px solid #999999; }
  .lg-bd-3-gray-dark {
    border: 3px solid #dfdfdf; }
  .lg-bdt-3-gray-dark {
    border-top: 3px solid #dfdfdf; }
  .lg-bdr-3-gray-dark {
    border-right: 3px solid #dfdfdf; }
  .lg-bdb-3-gray-dark {
    border-bottom: 3px solid #dfdfdf; }
  .lg-bdl-3-gray-dark {
    border-left: 3px solid #dfdfdf; }
  .lg-bd-3-gray {
    border: 3px solid #f4f4f4; }
  .lg-bdt-3-gray {
    border-top: 3px solid #f4f4f4; }
  .lg-bdr-3-gray {
    border-right: 3px solid #f4f4f4; }
  .lg-bdb-3-gray {
    border-bottom: 3px solid #f4f4f4; }
  .lg-bdl-3-gray {
    border-left: 3px solid #f4f4f4; }
  .lg-bd-3-white {
    border: 3px solid #ffffff; }
  .lg-bdt-3-white {
    border-top: 3px solid #ffffff; }
  .lg-bdr-3-white {
    border-right: 3px solid #ffffff; }
  .lg-bdb-3-white {
    border-bottom: 3px solid #ffffff; }
  .lg-bdl-3-white {
    border-left: 3px solid #ffffff; }
  .lg-bd-3-yellow {
    border: 3px solid #ffcc00; }
  .lg-bdt-3-yellow {
    border-top: 3px solid #ffcc00; }
  .lg-bdr-3-yellow {
    border-right: 3px solid #ffcc00; }
  .lg-bdb-3-yellow {
    border-bottom: 3px solid #ffcc00; }
  .lg-bdl-3-yellow {
    border-left: 3px solid #ffcc00; }
  .lg-bd-3-black {
    border: 3px solid #000000; }
  .lg-bdt-3-black {
    border-top: 3px solid #000000; }
  .lg-bdr-3-black {
    border-right: 3px solid #000000; }
  .lg-bdb-3-black {
    border-bottom: 3px solid #000000; }
  .lg-bdl-3-black {
    border-left: 3px solid #000000; } }

/*---
  title:   Typographies
  name:    design_typographies
  order:   2

  section: design
  ---
*/
/*---
  title:   Fonts
  section: Variables
  ---

  Variables containing project fonts

  ```
  $ff-text: 'Montserrat', sans-serif;
  ```
*/
/*---
  title:   Animation duration/easing
  section: Variables
  ---

  Use this for animation timing and easing. You can either use the shorthand `$anim` or directly use `$anim-duration` and `$anim-easing` for fine tuning.

  ```
  $anim-duration: 250ms;
  $anim-easing: cubic-bezier(.55,0,.1,1) ;
  $anim: $anim-duration $anim-easing;
  ```
*/
/*---
  title:   Vertical rythmn
  name:    vertical-rythmn-grid
  section: Grid
  ---

  Use `$vr` in order to keep vertical rythmn accross the entire project.

  ```
  $vr: 2rem;
  ```
*/
/*---
  title:   Grid size
  name:    size-grid
  section: Grid
  ---

  ```
  $row-width: 144rem;
  $container-width: 100%;
  $total-columns: 12;
  $column-gutter: 4rem;
  $column-width: 8rem;
  ```
*/
/*---
  title:   Debug grid
  section: Variables
  ---

  Update this scss map to configure debgrid in order to display overlay debug grid in your project.

  ```
  $debgrid: (
    horizontal: false,
    maxwidth: $row-width,
    width: $container-width,
    columns: $total-columns,
    gutter: $column-gutter,
    colorColumn: rgba(clr(gray-darker), 0.1),
    colorGutter: rgba(clr(gray-darker), 0.05),
    vertical: false,
    vertical-size: $vr,
    colorVOdd: rgba(clr(gray-darker), 0.1),
    colorVEven: transparent
  );
  ```
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Inter UI', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 1.45;
  color: var(--oc-gray-9); }

pre code {
  font-family: 'Fira Code';
  white-space: pre-wrap; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25vw;
  max-width: 30rem;
  height: calc(var(--vh, 1vh) * 100);
  border-right: 1px solid var(--oc-gray-2); }
  header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 2rem;
    border-bottom: 1px solid var(--oc-gray-2); }
    header .logo img {
      height: 3rem;
      width: auto; }

nav {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  nav a.menu-item {
    color: var(--oc-gray-8);
    font-size: 1.2rem;
    padding: 0rem 2rem;
    max-height: 0;
    opacity: 0;
    background: transparent;
    -webkit-transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1), background 600ms cubic-bezier(0.55, 0, 0.1, 1), padding 600ms cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1), background 600ms cubic-bezier(0.55, 0, 0.1, 1), padding 600ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1), background 600ms cubic-bezier(0.55, 0, 0.1, 1), padding 600ms cubic-bezier(0.55, 0, 0.1, 1); }
  nav a.menu-heading.current-parent {
    background: var(--oc-gray-8);
    color: white; }
    nav a.menu-heading.current-parent ~ .menu-item {
      padding: 1rem 2rem;
      background: var(--oc-gray-1);
      max-height: 4rem;
      opacity: 1; }
      nav a.menu-heading.current-parent ~ .menu-item.current-child {
        background: var(--oc-gray-6); }
    nav a.menu-heading.current-parent ~ .menu-heading ~ .menu-item {
      padding: 0rem 2rem;
      max-height: 0;
      opacity: 0;
      background: transparent; }
  nav a {
    padding: 1rem 2rem;
    color: var(--oc-gray-6);
    text-decoration: none;
    -webkit-transition: color 300ms cubic-bezier(0.55, 0, 0.1, 1), background 300ms cubic-bezier(0.55, 0, 0.1, 1);
    -o-transition: color 300ms cubic-bezier(0.55, 0, 0.1, 1), background 300ms cubic-bezier(0.55, 0, 0.1, 1);
    transition: color 300ms cubic-bezier(0.55, 0, 0.1, 1), background 300ms cubic-bezier(0.55, 0, 0.1, 1); }
    nav a span {
      display: block;
      -webkit-transition: -webkit-transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
      transition: -webkit-transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
      transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1);
      transition: transform 300ms cubic-bezier(0.55, 0, 0.1, 1), -webkit-transform 300ms cubic-bezier(0.55, 0, 0.1, 1); }
    nav a:hover {
      color: var(--oc-gray-9);
      background: var(--oc-gray-1); }
      nav a:hover span {
        -webkit-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
                transform: translateX(1rem); }

menu {
  margin-top: auto;
  padding: 2rem;
  width: 100%;
  font-size: 1.4rem;
  border-top: 1px solid var(--oc-gray-2);
  border-bottom: 1px solid var(--oc-gray-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  menu a {
    text-decoration: none;
    color: var(--oc-gray-5); }
    menu a:hover {
      color: var(--oc-gray-8); }

footer {
  text-align: center;
  font-size: 1rem;
  padding: 2rem;
  color: var(--oc-gray-5); }

main {
  max-height: calc(var(--vh, 1vh) * 100);
  overflow-y: scroll;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden; }
  main.markdown-body {
    margin-top: 0;
    padding-top: 1rem; }
  main > section {
    position: relative;
    border-top: 1px solid var(--oc-gray-4);
    max-width: 96rem;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0 4rem; }
    main > section::-webkit-scrollbar {
      width: 0.5rem;
      background: var(--oc-gray-1); }
    main > section::-webkit-scrollbar-thumb {
      background: var(--oc-gray-4); }
    main > section,
    main > section > .markdown-body > section {
      margin-top: 2px;
      padding-top: 0;
      display: block;
      width: 100%;
      max-height: var(--max-height);
      opacity: 1;
      -webkit-transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1);
      -o-transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1);
      transition: opacity 600ms cubic-bezier(0.55, 0, 0.1, 1), max-height 600ms cubic-bezier(0.55, 0, 0.1, 1); }
      main > section > *:last-child,
      main > section > .markdown-body > section > *:last-child {
        margin-bottom: 4rem; }
      main > section:not(:target),
      main > section > .markdown-body > section:not(:target) {
        display: block; }
      main > section:not(.show),
      main > section > .markdown-body > section:not(.show) {
        max-height: 0;
        pointer-events: none; }
    main > section > .markdown-body > section {
      border-top: 1px solid var(--oc-gray-4);
      overflow: hidden; }
      main > section > .markdown-body > section:first-of-type {
        margin-top: 2rem; }

h1 {
  font-size: 5rem;
  line-height: 1.2; }

h2 {
  font-size: 2.4rem;
  line-height: 1.2;
  background: var(--oc-gray-2);
  padding: 1rem 2rem;
  color: var(--oc-gray-6);
  font-weight: 300; }

.page-title {
  margin-top: 4rem; }

.markdown-body {
  margin-top: 2rem; }

iframe {
  border: none;
  background: white;
  width: 100%; }

.docs-example {
  border: 1px solid var(--oc-gray-2);
  background: var(--oc-gray-1);
  padding: 1rem; }
  .docs-example + pre {
    margin-top: 0; }

pre,
code {
  background: #2d2d2d;
  color: #cccccc; }

code {
  padding: 0.3rem 0.5rem; }

pre {
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  line-height: 1.45; }
  pre code {
    padding: 0; }
  pre.highlight .token.tag {
    color: #f2777a; }
  pre.highlight .token.punctuation {
    color: #cccccc; }
  pre.highlight .token.attr-name {
    color: #f99157; }
  pre.highlight .token.attr-value {
    color: #99cc99; }

#design_colors h4.page-title + .markdown-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem; }
  #design_colors h4.page-title + .markdown-body > *:not(.colors) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%; }

#design_colors .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 2rem 2rem 0; }
  #design_colors .colors:not(.line) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: calc(25% - 2rem); }
    #design_colors .colors:not(.line) .swatch:first-of-type {
      border-top-left-radius: 0.4rem;
      border-top-right-radius: 0.4rem; }
    #design_colors .colors:not(.line) .swatch:last-of-type {
      border-bottom-left-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem; }
  #design_colors .colors.line {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%; }
    #design_colors .colors.line .swatch:first-of-type {
      border-top-left-radius: 0.4rem;
      border-bottom-left-radius: 0.4rem; }
    #design_colors .colors.line .swatch:last-of-type {
      border-top-right-radius: 0.4rem;
      border-bottom-right-radius: 0.4rem; }
  #design_colors .colors + pre {
    display: none; }

#design_colors .swatch {
  background: currentColor;
  position: relative;
  padding: 2rem 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-shadow: none !important;
  font-size: 1.5rem; }
  #design_colors .swatch .color-value {
    font-size: 1.3rem;
    opacity: 0.5; }
  #design_colors .swatch[data-contrast*="white"] .color-name,
  #design_colors .swatch[data-contrast*="white"] .color-value {
    color: white; }
  #design_colors .swatch[data-contrast*="black"] .color-name,
  #design_colors .swatch[data-contrast*="black"] .color-value {
    color: black; }
  #design_colors .swatch[data-contrast*="black-ultra"] {
    border: 1px solid var(--oc-gray-2); }
