<div class="headline sm-pgv-5 md-pgv-10">
  <div class="row">
    <div class="column-12 no-width">
      <div class="headline__content sm-pgh-2 sm-pgb-4 md-pgh-0 md-pgv-4 flex sm-layout-column md-layout-row md-align-spacebetween-center">
        <h2 class="no-margin sm-fz-32 md-fz-48 lh-1_2 fw-700 sm-mgb-2 md-mgb-0">{{ headline }}</h2>
        <a class="button black md-mgr-3 sm-size-100p md-size-auto smoothscroll" data-target="{{ headlines.cta_url }}">{{ headlines.cta_label }}</a>
      </div>
    </div>
  </div>
</div>
