<div class="infos sm-pgv-5 md-pgv-10 sm-dp-none md-dp-block">
  <div class="row">
    <div class="column-12">
      <div class="infos__content bg-black pg-10 flex layout-column align-center-center text-center">
        <h2 class="relative no-margin fz-48 lh-1_2 fw-700 text-white">{{ infos.title }}</h2>
        <div class="relative mgv-4"><div class="w-8 bdb-4-yellow"></div></div>
        <p class="relative no-margin mgb-1 fz-18 lh-1_425 text-white">{{ infos.text_1 }}</p>
        <p class="relative no-margin mgb-1 fz-18 lh-1_425 text-white">{{ infos.text_2 }}</p>
        <p class="relative no-margin mgb-1 fz-18 lh-1_425 text-white">{{ infos.text_3 }}</p>
      </div>
    </div>
  </div>
</div>
