<div class="support sm-pgv-5 md-pgv-10">
  <div class="row">
    <div class="column-12">
      <h2>{{support.title}}</h2>
    </div>
  </div>
  <div class="row support__container">
    <div class="column-12 no-width">
      <div class="support__list md-size-100p md-flex md-bd-1-gray-dark md-bdr-none">
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_french_fab.png 1x, img/d_part_french_fab@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_french_fab.png 1x, img/m_part_french_fab@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_french_fab.png" />
          </picture>
        </div>
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_region.png 1x, img/d_part_region@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_region.png 1x, img/m_part_region@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_region.png" />
          </picture>
        </div>
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_bpi.png 1x, img/d_part_bpi@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_bpi.png 1x, img/m_part_bpi@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_bpi.png" />
          </picture>
        </div>
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_lmi.png 1x, img/d_part_lmi@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_lmi.png 1x, img/m_part_lmi@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_lmi.png" />
          </picture>
        </div>
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_reseau.png 1x, img/d_part_reseau@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_reseau.png 1x, img/m_part_reseau@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_reseau.png" />
          </picture>
        </div>
        <div class="sm-w-45p md-w-auto pg-1 md-bdr-1-gray-dark">
          <picture alt="">
            <source srcset="img/d_part_initiative.png 1x, img/d_part_initiative@2x.png 2x" media="(min-width: 640px)">
            <source srcset="img/m_part_initiative.png 1x, img/m_part_initiative@2x.png 2x" media="(max-width: 639px)">
            <img src="img/d_part_initiative.png" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</div>
