<div class="team sm-pgv-5 md-pgv-10" id="team">
  <div class="row">
    <div class="column-12">
      <div class="flex sm-layout-column md-layout-row bg-black align-start-center">
        <picture alt="" class="md-size-50p">
          <source srcset="img/d_team.jpg 1x, img/d_team@2x.jpg 2x" media="(min-width: 640px)">
          <source srcset="img/m_team.jpg 1x, img/m_team@2x.jpg 2x" media="(max-width: 639px)">
          <img src="img/d_team.jpg" />
        </picture>
        <div class="md-size-50p sm-pgh-2 sm-pgb-1 md-pgb-0 md-pgr-0 md-pgl-4 flex layout-column">
          <h2 class="no-margin mgb-2 fz-48 lh-1_2 fw-700 text-white">{{team.title_first}}<br/><span class="text-yellow">&</span> {{team.title_second}}</h2>
          {% for text in team.texts %}
            <p class="no-margin mgt-2 fz-14 lh-1_8 text-white">{{text}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
