<div class="video sm-pgv-5 md-pgv-10" id="video">
  <div class="row">
    <div class="column-12">
      <div class="video__container">
        <iframe
          title='PHILIPS PerfectDraft HD 3720'
          src="https://www.youtube-nocookie.com/embed/1_SQUOyGLyk?&rel=0&controls=0&showinfo=0&iv_load_policy=3&vq='hd1080'&cc_load_policy=1"
          frameBorder='0'
          allow='autoplay; encrypted-media'
          allowFullScreen
          width="960"
        ></iframe>
      </div>
    </div>
  </div>
</div>
