<footer class=" sm-pgv-5 md-pgv-10 bg-black">
  <div class="row">
    <div class="column-12 no-width align-center-center">
      <img src="svg/francais.svg" alt="" width="120">
    </div>
  </div>
  <div class="row mgt-5">
    <div class="column-12">
      <p class="no-margin text-center text-gray-darker fz-14 lh-1_6">{{ footer.text }}</p>
    </div>
  </div>
</footer>
