<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta charset="UTF-8">
    <meta name="robots" content="{{ global.robots }}">
    <meta name="language" content="fr-FR" />
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    {% if global.canonical != "" %}
      <link rel="canonical" href="{{ global.canonical }}" />
    {% endif %}

    <!--Scripts-->

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

    <!--our code -->
    <link rel="stylesheet" href="css/app.css">
</head>
