/*---
  title:   Installation
  order:   2

  section: Overview
  ---

  In order to install front end starter, just run `npm install` after cloning it.

  We recommand using [nvm](https://github.com/creationix/nvm) to handle version switching to the one this project is using.
*/
