.headline {
  &__content {
    position: relative;

    &:before {
      content: '';
      position: absolute;
      z-index: -1;
      right: 0;
      bottom: 0;
      width: 100%;
      height: $vr*14;
      background-color: clr(yellow);
      @include bg-pattern();

      @media #{$md} {
        top: 0;
        width: 75%;
        height: auto;
      }
    }
  }
}
