.hero {
  position: relative;
  padding-top: $vr*5;
  height: calc((var(--vh, 1vh) * 100) - #{$vr*6});

  @media #{$md} {
    padding-top: $vr*8;
    height: calc((var(--vh, 1vh) * 100) - #{$vr*12});
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(clr(black), 0.6);
    @include bg-pattern();
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    opacity: 0.7;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    height: $vr*9;

    @media #{$md} {
      height: $vr*17;
    }
  }

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &__video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;

    iframe,
    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
