.infos {
  &__content {
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      position: absolute;
      top: 10%;
      right: -3%;
      height: 100%;
      width: 47%;
      transform: translateX(25%);
      opacity: 0.3;
      background-image: url(../img/m_dispenser_mobile@2x.png);
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
  }
}
