.simulation {
  $self: #{&};

  position: relative;
  background: clr(gray);
  @include bg-pattern();

  &__titles {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    overflow: hidden;

    >* {
      transition: transform 300ms ease-out;
    }

    >:last-child {
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(100%);
    }
  }

  &__slides {
    overflow: hidden;

    >* {
      flex: 0 0 100%;
      width: 100%;
      max-width: 100%;
      transition: transform 800ms ease-out;
      transition-delay: 50ms;
    }
  }

  &__texts {
    position: relative;
    overflow: hidden;

    >* {
      transition: opacity 500ms ease-out;
      transition-delay: 100ms;
    }

    >:last-child {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
    }
  }

  &__buttons {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 4.8rem;
    max-height: 4.8rem;
    overflow: hidden;

    >span {
      flex: 0 0 100%;
      transition: transform 500ms ease-out;
      transition-delay: 150ms;
    }
  }

  &.show {
    #{$self}__titles {
      >:first-child {
        transform: translateY(-100%);
      }

      >:last-child {
        transform: translateY(0);
      }
    }

    #{$self}__slides {
      >* {
        transform: translateX(-100%);
        transition-delay: 50ms;
      }
    }

    #{$self}__texts {
      >* {
        transition-delay: 100ms;
      }

      >:first-child {
        opacity: 0;
      }

      >:last-child {
        opacity: 1;
      }
    }

    #{$self}__buttons {
      >* {
        transform: translateY(-100%);
        transition-delay: 150ms;
      }
    }
  }
}
