.support {
  @media #{$sm-only} {
    &__container {
      padding: 0;
      width: 100%;

      [class*="column-"] {
        padding: 0;
        overflow-x: scroll;
      }
    }

    &__list {
      max-width: initial;
      width: 100%;
      display: flex;

      >* {
        border: 1px solid clr(gray-dark);

        &:not(:last-child) {
          border-right: none;
        }
      }

      > :first-child {
        margin-left: $vr*2;
      }

      > :last-child {
        margin-right: $vr*2;
      }
    }
  }
}
