/*---
  title:   Colors
  name:    design_colors
  order:   1

  section: design
  ---

  In order to use any color in an `.scss` file, just use function `clr(name-of-color)`

*/

$colors: ();

@function clr($key) {
  @return map-get($colors, $key);
}

@import 'brand.scss';
@import 'gray.scss';
@import 'class.scss';
