/*---
  title:   Class
  name:    class-colors
  order:   4

  section: design_colors
  ---
  ```example:html
    <p class="text-yellow h-text-yellow-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bg-black h-bg-black-dark">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bd-1-alert">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
    <p class="bdb-1-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi atque eligendi, iste neque deserunt, dignissimos officia in dolore, itaque dicta incidunt id nulla at blanditiis voluptatibus veniam omnis. At, quos!</p>
  ```
*/

@each $bp_o in $bps {
  $bp_k: nth($bp_o, 1);
  $bp_v: nth($bp_o, 2);

  @media #{$bp_k}{
    //  Colors
    //  ───────────────────────────────────
    @each $color in $colors {
      $c_name: nth($color, 1);
      $c_hex: nth($color, 2);

      @include selector('.text-#{$c_name}', $bp_v){ color: $c_hex !important; }
      @include selector('.h-text-#{$c_name}', $bp_v){ &:hover{ color: $c_hex !important; } }
      @include selector('.bg-#{$c_name}', $bp_v){ background-color: $c_hex !important; }
      @include selector('.h-bg-#{$c_name}', $bp_v){ &:hover{ background-color: $c_hex !important; } }
    }

    //  Border
    //  ───────────────────────────────────
    @for $i from 0 through 3{
      @each $color in $colors {
        $c_name: nth($color, 1);
        $c_hex: nth($color, 2);

        @include selector('.bd-#{$i}-#{$c_name}', $bp_v){ border: ($i * 1px) solid $c_hex; }
        @include selector('.bdt-#{$i}-#{$c_name}', $bp_v){ border-top: ($i * 1px) solid $c_hex; }
        @include selector('.bdr-#{$i}-#{$c_name}', $bp_v){ border-right: ($i * 1px) solid $c_hex; }
        @include selector('.bdb-#{$i}-#{$c_name}', $bp_v){ border-bottom: ($i * 1px) solid $c_hex; }
        @include selector('.bdl-#{$i}-#{$c_name}', $bp_v){ border-left: ($i * 1px) solid $c_hex; }
      }
    }
  }
}
