$colors: map-merge((gray-darker: #999999,
gray-dark: #dfdfdf,
gray: #f4f4f4,
white: #ffffff), $colors);
/*---
  title:   Gray
  name:    gray-colors
  order:   2

  section: design_colors
  ---

  ```example:color
  line 3
  @color: #{clr(gray-dark)} @name: gray-dark
  @color: #{clr(gray)} @name: gray
  @color: #{clr(white)} @name: white
  ```
*/
