//
//  B U T T O N S
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

.button {
  position: relative;
  padding: $vr*2 $vr*8 $vr*2 $vr*3;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  font-size: 1.8rem;
  line-height: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2.5rem;
  box-shadow: none;
  cursor: pointer;
  transition: background $anim,
    box-shadow $anim,
    color $anim;

  &:before,
  &:after {
    position: absolute;
    top: $vr;
    right: $vr;
    bottom: $vr;
    content: "";
    width: $vr*4;
    height: $vr*4;
  }

  &:before {
    border-radius: 50%;
    background-image: linear-gradient(to bottom,
      clr(white) 0%,
      clr(white) 50%,
      clr(yellow) 50%,
      clr(yellow) 100%);
    background-position: 50% 0%;
    background-size: $vr*4 $vr*8;
    background-repeat: no-repeat;
    transition: background $anim;
  }

  &:after {
    background-image: svg-inline(arrow-right);
    background-position: 50% 50%;
    background-size: $vr*4;
    background-repeat: no-repeat;
  }

  &[class]:hover,
  &[class]:active {
    background-color: clr(white);
    color: clr(black);

    &:before {
      background-position: 0% 100%;
    }
  }

  &[class]:hover {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
  }

  &[class]:active {
    background-color: clr(gray);
    transition: background 50ms $anim-easing;
  }

  //  Colors
  //  ───────────────────────────────────
  /*---
  title:   Colors
  name:    colors-button
  section: Buttons
  ---

  Button styles can be applied to any element (excepted `.tertiary` wich can't be used with self-closing HTML attributes like input).
  Typically you'll want to use either a `<button>` or an `<a>` element:

  ```example:html
  <button class="button yellow">Button yellow</button>
  <a class="button black" href="#x">Button black</a>
  <button class="button white">Button tertiary</button>
  ```
  */

  &.yellow {
    color: clr(black);
    background-color: clr(yellow);
  }

  &.black {
    color: clr(white);
    background-color: clr(black);
  }

  &.white {
    background-color: clr(white);
    color: clr(black);

    &:before {
      background-image: linear-gradient(to bottom,
        clr(black) 0%,
        clr(black) 50%,
        clr(yellow) 50%,
        clr(yellow) 100%);
    }

    &:after {
      background-image: svg-inline(arrow-right-white);
    }
  }

  //  Disabled
  //  ───────────────────────────────────
  /*---
  title:   Disabled
  name:    disabled-button
  section: Buttons
  ---

  Buttons can also be used as call to action:

  ```example:html
  <button class="button cta disabled">Button cta</button>
  <button class="button yellow disabled">Button yellow</button>
  <a class="button black disabled" href="#x">Button black</a>
  <a class="button tertiary disabled" href="#x">Button tertiary</a>
  ```
  */
  &.disabled,
  [disabled] {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
  }
}
