//
//  H E A D E R
//
//  ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━

$easing: ease-out;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: calc(#{$vr*2} - (var(--step) * #{$vr})) 0;
  z-index: 5;

  .logo {
    height: $vr*5;

    @media #{$md} {
      height: calc(#{$vr*8} - (var(--step) * #{2 * $vr}));
    }
  }


  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: clr(black);
    opacity: var(--opacity);
    will-change: opacity;
  }
}

@media #{$sm-only} {
  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 7.8rem;
    padding-left: 25vw;
    pointer-events: none;

    &:before,
    &:after {
      content: '';
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      transform: translateX(100%);
      transition: transform 500ms $easing;
      will-change: transform;
    }

    &:before {
      background: clr(yellow);
      left: 0;
      right: 0;
      @include bg-pattern();
      transition-delay: 400ms;
    }

    &:after {
      background: clr(black);
      right: 0;
      width: 88vw;
      transition-delay: 200ms;
    }

    >.link-header,
    >.social div {
      opacity: 0;
      transition: opacity 300ms;
      transition-delay: 100ms;
      will-change: opacity;
    }

    .link-header.active:after {
      transition-delay: 0ms;
      transform: translate(-75vw, -50%);
      will-change: transform;
    }

    .nav-trigger {
      position: fixed;
      top: 2.6rem;
      right: 1.2rem;
      z-index: 1;
      opacity: 0;
      transform: rotate(0deg);
      transition: transform 600ms $easing, opacity 400ms $easing;
      transition-delay: 450ms;
      will-change: transform, opacity;

      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &.show {
      pointer-events: auto;

      >.link-header {
        opacity: 1;
        transition-delay: 500ms;

        @for $i from 0 to 8 {
          &:nth-of-type(#{$i + 1}) {
            transition-delay: 500ms + ($i * 50ms);
          }
        }
      }

      >.social div {
        opacity: 1;

        @for $i from 0 to 4 {
          &:nth-of-type(#{$i + 1}) {
            transition-delay: 900ms + ($i * 25ms);
          }
        }
      }

      .link-header.active:after {
        transition-delay: 650ms;
        transform: translate(-55vw, -50%);
      }

      .nav-trigger {
        transform: rotate(270deg);
        opacity: 1;
        transition-delay: 0ms;
      }

      &:before,
      &:after {
        transform: translateX(0);
      }

      &:before {
        transition-delay: 0ms;
      }

      &:after {
        transition-delay: 200ms;
      }
    }
  }
}
